<div class="footer-text">
    Created with blood, sweat, and tears by <span class="name-highlight">sipesdev</span> using 
    <a class="footer-link" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>.
</div>