<ul class="navbar">
    <!--<li class="nav-item px-3">
        <a class="nav-button" href="blog">blog</a>
    </li>-->
    <li class="nav-item px-3">
        <a class="nav-button" href="https://github.com/sipesdev" target="_blank">github</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-button" href="https://www.linkedin.com/in/sipesdev/" target="_blank">linkedin</a>
    </li>
</ul>