<ul class="navbar">
    <li class="nav-item px-3">
        <a class="nav-button" href="blog">blog</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-button" href="https://github.com/sipesdev">github</a>
    </li>
</ul>