.center-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 12vw;
    min-width: 100px;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.link-stuff {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.link-item {
    transition: 0.2s color;
    color: silver;
    text-decoration: none;
}

.link-item:focus, .link-item:active:focus, .link-item:hover {
    color: purple;
}