.center-content {
    width: 100%;
    justify-content: center;
    display: flex;
}

.profile-pic {
    border-radius: 50%;
    width: 15%;
}

.link-stuff
{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 5%;
}

.link-item
{
    color: silver;
    text-decoration: none;
}