@page "/"

<PageTitle>Home</PageTitle>

<div class="center-content">
    <img class="profile-pic" src="profile.jpg" alt="profile picture">
</div>
<div class="center-content">
    <h3>Hello, I'm Michael.</h3>
</div>
<div class="center-content">
    <p>I create things.</p>
</div>
<div class="link-stuff">
    <a class="links-item">
        <i class="bi bi-envelope-open-fill"></i>
        michael@sipes.dev
    </a>
</div>
