.center-content {
    width: 100%;
    justify-content: center;
    display: flex;
}

.profile-pic {
    border-radius: 50%;
    width: 15%;
}

.links-stuff
{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 5%;
}